.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid  #ffffff;
  background-color: #000000;
  background-image: url('../../../images/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  margin: 0 0 19px 24px;
  cursor: pointer;
}
  
.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}