.modal__close-button {
  background-color: transparent;
  background-image: url('../../../images/closeIcon.svg');
  background-size: contain;
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 58px;
  height: 58px;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px){
  .modal__close-button{
    width: 33px;
    height: 33px;
    top: -34px;
    right: 6px;
  }
}