.modal__close-button {
  background-color: transparent;
  background-image: url('../../../images/closeIcon.svg');
  background-size: contain;
  border: none;
  position: absolute;
  cursor: pointer;
  top: -45px;
  right: -45px;
  width: 58px;
  height: 58px;
}