.modal__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0;
  max-width: 358px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 29px;
}

@media screen and (max-width: 500px) {
  .modal__input {
    max-width: 238px;
    max-height: 100%;
  }
}