@import url(./__container/card__container.css);
@import url(./__image/card__image.css);
@import url(./__text/card__text.css);

.card {
  border-radius: 10px;
  background-color: #ffffff;
  height: 361px;
  width: 282px;
  border: 1px solid #000000;
  position: relative;
}

@media screen and (max-width: 375px) {
  .card {
    margin-bottom: 20px;
  }
}